/* &display=swap */
@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1020px;
	}

body {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	background: #F5F5F5;
}

.our-promise {
	margin: 0px 0px 121px 0px;
}

.our-promise__header {
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 68px 0px;
}

.our-promise__title {
	position: relative;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	padding: 0px 0px 0px 33px;
}

.our-promise__title:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.our-promise__title::before {
	content: "";
	position: absolute;
	display: inline-block;
	background: url('../img/icons/mark.svg') 0 0 no-repeat;
	width: 17px;
	height: 16px;
	top: 2px;
	left: 0px;
}

.our-promise__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #000;
}

.our-promise__content-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0px -12px;
	row-gap: 24px;
}

.our-promise__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
}

.item-our-promise {
	align-items: flex-start;
	display: flex;
	column-gap: 23px;
}

.item-our-promise__icon {
	max-width: 63px;
}

.item-our-promise__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36;
	color: #F2726F;
}

.item-our-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.item-our-promise__text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.our-impact {
	min-height: 608px;
	color: #fff;
	background: #29C3BE;
}

.our-impact__header {
	position: relative;
	max-width: 411px;
	padding: 112px 0px 0px 0px;
	margin: 0px 0px 79px 0px;
	z-index: 3;
}

.our-impact__header::before {
	content: "";
	position: absolute;
	background: url("../img/dog.png") 0 0 no-repeat;
	border-radius: 40px;
	width: 498px;
	height: 315px;
	top: -26%;
	left: 130%;
	z-index: 3;
}

.our-impact__header::after {
	content: "";
	position: absolute;
	background: url("../img/blob.png") 0 0 no-repeat;
	width: 690px;
	height: 308px;
	top: 0%;
	left: 101%;
	z-index: 2;
}

.our-impact__title{
	position: relative;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding: 0px 0px 0px 33px;
	margin: 0px 0px 33px 0px;
}

.our-impact__title::before {
	content: "";
	position: absolute;
	display: inline-block;
	background: url('../img/icons/white_mark.svg') 0 0 no-repeat;
	width: 17px;
	height: 16px;
	top: 2px;
	left: 0px;
}

.our-impact__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
}

.our-impact__content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px 24px;
}

.our-impact__item{
	display: flex;
	flex-direction: row;
	flex: 0 0 237px;
	gap: 11px;
}

.our-impact__box {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
}

.our-impact__icon {
	max-width: 76px;
}

.our-impact__count {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
}

.our-impact__text{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
}
