/* &display=swap */
@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1050px;
	padding: 0px 15px;
	}

body {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	background: #F5F5F5;
}

.our-promise {
	margin: 0px 0px 121px 0px;
}

.our-promise__header {
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 68px 0px;
}

.our-promise__title {
	position: relative;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #5D62B5;
	padding: 0px 0px 0px 33px;
}

.our-promise__title:not(:last-child) {
	margin: 0px 0px 33px 0px;
}

.our-promise__title::before {
	content: "";
	position: absolute;
	background: url('../img/icons/mark.svg') 0 0 no-repeat;
	width: 17px;
	height: 16px;
	top: 2px;
	left: 0px;
}

.our-promise__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	color: #000;
}

.our-promise__content-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
	row-gap: 24px;
}

.our-promise__item {
	padding: 0px 12px;
	flex: 1 1 33.333%;
}

.item-our-promise {
	align-items: flex-start;
	display: flex;
	column-gap: 23px;
}

.item-our-promise__icon {
	flex: 0 0 63px;
	width: 63px;
}

.item-our-promise__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36;
	color: #F2726F;
}

.item-our-promise__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.item-our-promise__text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

.our-impact {
	padding: 20px 0px 212px 0px;
	position: relative;
	min-height: 608px;
	color: #fff;
	background: #29C3BE;
	position: relative;
}

.our-impact__container {
	position: relative;
}

.our-impact::before {
	content: "";
	position: absolute;
	background: url("../img/blob.png") 0 0 no-repeat;
	width: 695px;
	height: 308px;
	top: 0%;
	right: 50%;
	transform: translate(88%, 0px);
}

.our-impact__body {
	display: flex;
	margin: 0px -15px;
}

.our-impact__body:not(:last-child){
	margin-bottom: 80px
}

.our-impact__content {
	padding: 0px 15px;
	flex: 0 1 50%;
	align-self: flex-end;
}

.our-impact__header {
	max-width: 420px;
}

.our-impact__photo {
	margin: -100px 0px 0px 0px;
	flex: 0 1 50%;
	padding: 0px 15px;	
}

.our-impact__image {
	border-radius: 40px;
	max-width: 100%;
}

.our-impact__title{
	position: relative;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding: 0px 0px 0px 33px;
	margin: 0px 0px 33px 0px;
}

.our-impact__title::before {
	content: "";
	position: absolute;
	display: inline-block;
	background: url('../img/icons/white_mark.svg') 0 0 no-repeat;
	width: 17px;
	height: 16px;
	top: 2px;
	left: 0px;
}

.our-impact__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
}

.our-impact__items {
	display: flex;
	margin: 0px -12px;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 24px;
	align-items: flex-start;
}

.our-impact__item{
	padding: 0px 12px;
	display: flex;
	flex: 0 1 25%;
	column-gap: 11px;
	align-items: flex-start;
}

.our-impact__box {
	display: flex;
	flex-direction: column;
}

.our-impact__icon {
	flex: 0 0 76px;
	width: 76px;
}

.our-impact__count {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	align-items: flex-start;
}

.our-impact__count:not(:last-child){
margin: 0px 0px 3px 0px;
}

.our-impact__text{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
}
